<!--Page Banner Section start-->
<div class="page-banner-section section" style="background-image: url(https://htmldemo.net/khonike/khonike/assets/images/bg/single-property-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="page-banner-title">Properties</h1>
        <ul class="page-breadcrumb">
          <!-- <li><a href="index.html">Home</a></li>
          <li class="active">Friuli-Venezia Giulia</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12 ms-auto me-auto">    
        <ul class="login-register-tab-list nav">
            <li><a class="active" href="#login-tab" data-bs-toggle="tab">Property details</a></li>
        </ul><div>
          <p>
            <strong>Name:</strong>
            <%= @property.name %>
          </p>

          <p>
            <strong>amenities:</strong>
            <%= @property.amenities %>
          </p>

          <p>
            <strong>size:</strong>
            <%= @property.size %>
          </p>

          <p>
            <strong>price:</strong>
            <%= @property.price %>
          </p>

          <p>
            <strong>bedrooms:</strong>
            <%= @property.bedrooms %>
          </p>

          <p>
            <strong>bathrooms:</strong>
            <%= @property.bathrooms %>
          </p>

          <p>
            <strong>parking:</strong>
            <%= @property.parking %>
          </p>
        </div><br>
       <%= link_to "Back", properties_path , class: "btn"%> <%= link_to "Edit this property", edit_property_path(@property) , class: "btn"%>  
        </div>
    </div><br>
  </div>
