<div class="hero-section section position-relative">
  <!--Hero Item start-->
  <div class="hero-item player" data-property="{videoURL:'FlME5z9tmLM',mobileFallbackImage:'https://htmldemo.net/khonike/khonike/assets/images/bg/video-bg.jpg',coverImage:'https://htmldemo.net/khonike/khonike/assets/images/bg/video-bg.jpg',containment:'.player',startAt:0,mute:true,autoPlay:true,showControls:false,loop:true,opacity:1}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!--Hero Content start-->
          <div class="hero-content">
            <h3>WANT TO BUY OR RENT HOME ?</h3>
            <h1><span>We Will</span> Solve Your Problems</h1>
          </div>
          <!--Hero Content end-->
        </div>
      </div>
    </div>
  </div>
  <!--Hero Item end-->
</div>
<!--slider section end-->
<!--Search Section start-->
<div class="search-section section pt-0 pt-sm-60 pt-xs-50 ">
  <div class="container">
    <!--Section Title start-->
    <div class="row d-flex d-lg-none">
      <div class="col-md-20 mb-60 mb-xs-30">
        <div class="section-title center">
          <h1>Find Your Home</h1>
        </div>
      </div>
    </div>
    <!--Section Title end-->
    <div class="row">
      <div class="col-12">
        <!--Hero Search start-->
        <div class="hero-search">
          <form action="/search" id="myForm">
             <div>
              <h4><span>Price Range &#8377;
              <div class="price" >0</div></span></h4>
              <input class="range-slider__range" type="range" name="rangeValue" value="0" min="0" max="100000" id="customRange3" step="10000">
            </div> 
            <div>
              <h4>property type</h4>
              <select class="nice-select", name="property">
                <option value="" selected>Choose a type</option>
                <option value="RESIDENTIAL PLOTS">RESIDENTIAL PLOTS</option>
                <option value="RESIDENTIAL BUILDINGS">RESIDENTIAL BUILDINGS</option>
                <option value="COMMERCIAL">COMMERCIAL</option>
              </select>
            </div>
            <div>
              <h4>Location</h4>
              <select class="nice-select" name="location">
                <option value="" selected>Choose a location</option>
                <option value="noida">noida</option>
                <option value="gzb">gzb</option>
                <option value="Bairagarh">Bairagarh</option>
                <option value="Berasia Road">Berasia Road</option>
                <option value="Bittan Market">Bittan Market</option>
                <option value="Habib Ganj">Habib Ganj</option>
                <option value="Hamidia Road">Hamidia Road</option>
                <option value="Hari Ganga Nagar">Hari Ganga Nagar</option>
                <option value="Bangrasia">Bangrasia</option>
                <option value="Katara">Katara</option>
                <option value="Badwai">Badwai</option>
              </select>
            </div>
            <div>
              <h4>Bedrooms</h4>
              <select class="nice-select" name="bedrooms">
                <option value="" selected>Choose an option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
            <div>
              <h4>Bathrooms</h4>
              <select class="nice-select" name="bathrooms">
                <option value="" selected>Choose an option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
            <div>
            <h4>Search</h4>
              <div class="submit">
                <button>click here</button>
              </div>
            </div>
          </form>
        </div>
        <!--Hero Search end-->
      </div>
    </div>
  </div>
</div>
<!--Search Section end-->
<!--New property section start-->

<% if @properties.present?%>
  <div class="property-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-60 pb-lg-40 pb-md-30 pb-sm-20 pb-xs-10">
    <div class="container">
      <!--Section Title start-->
      <div class="row">
        <div class="col-md-12 mb-60 mb-xs-30">
          <div class="section-title center">
            <h1>Newly Added Property</h1>
          </div>
        </div>
      </div>
      <!--Section Title end-->
      <div class="row">
        <!--Property start-->
        <% @properties.each do |property| %>
          <div class="property-item col-lg-4 col-md-6 col-12 mb-40">
            <div class="property-inner">
              <div class="image">

                <% if property.images.attached? %>
                  <%= link_to home_property_path(property) do %>
                    <%= image_tag property.images.last %>
                  <% end %>
                  <!-- <a href="/properties/<%#= property.id%>"><%#= image_tag property.images.last %></a> -->
                <% else %>
                  <%= link_to home_property_path(property) do %>
                    <img src="https://htmldemo.net/khonike/khonike/assets/images/property/property-1.jpg" alt="">
                  <% end %>
                <% end %>
                <ul class="property-feature">
                  <li>
                    <span class="area"><img src="<%= asset_path('web/area.png')%>" alt=""><%= property.size %> SqFt</span>
                  </li>
                  <li>
                    <span class="bed"><img src="<%= asset_path('web/bed.png')%>" alt=""><%= property.bedrooms %></span>
                  </li>
                  <li>
                    <span class="bath"><img src="<%= asset_path('web/bath.png')%>" alt=""><%= property.bathrooms %></span>
                  </li>
                  <li>
                    <span class="parking"><img src="<%= asset_path('web/parking.png')%>" alt=""><%= property.parking %></span>
                  </li>
                </ul>
              </div>
              <div class="content">
                <div class="left">
                  <h3 class="title">
                    <%= link_to property.name, home_property_path(property) %>
                  </h3>
                  <span class="location"><img src="https://htmldemo.net/khonike/khonike/assets/images/icons/marker.png" alt=""><%= property.location %></span>
                </div>
                <div class="right">
                  <div class="type-wrap">
                    <span class="price">&#8377;<%= property.price %></span>
                    <span class="type"><%= property.status_type %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!--Property end-->     
        <!--Property end-->
      </div>
    </div>
  </div>
<% else %>
  <h1 style="text-align: center;">No record found </h1>
<% end %>
<!--New property section end-->
<!--Welcome Khonike - Real Estate Bootstrap 5 Templatesection-->
<div class="feature-section feature-section-border-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-60 pb-lg-40 pb-md-30 pb-sm-20 pb-xs-10">
  <div class="container">
    <div class="row row-25 align-items-center">
      <!--Feature Image start-->
      <div class="col-lg-5 col-12 order-1 order-lg-2 mb-40">
        <div class="feature-image"><img src="https://htmldemo.net/khonike/khonike/assets/images/others/feature.png" alt=""></div>
      </div>
      <!--Feature Image end-->
      <div class="col-lg-7 col-12 order-2 order-lg-1 mb-40">
        <div class="feature-wrap row row-25">
          <!--Feature start-->
          <div class="col-sm-6 col-12 mb-50">
            <div class="feature">
              <div class="icon"><i class="pe-7s-piggy"></i></div>
              <div class="content">
                <h4>Low Cost</h4>
                <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
              </div>
            </div>
          </div>
          <!--Feature end-->
          <!--Feature start-->
          <div class="col-sm-6 col-12 mb-50">
            <div class="feature">
              <div class="icon"><i class="pe-7s-display1"></i></div>
              <div class="content">
                <h4>Good Marketing</h4>
                <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
              </div>
            </div>
          </div>
          <!--Feature end-->
          <!--Feature start-->
          <div class="col-sm-6 col-12 mb-50">
            <div class="feature">
              <div class="icon"><i class="pe-7s-map"></i></div>
              <div class="content">
                <h4>Easy to Find</h4>
                <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
              </div>
            </div>
          </div>
          <!--Feature end-->
          <!--Feature start-->
          <div class="col-sm-6 col-12 mb-50">
            <div class="feature">
              <div class="icon"><i class="pe-7s-shield"></i></div>
              <div class="content">
                <h4>Reliable</h4>
                <p>ed do eiusmod tempor dolor sit amet, conse elit ctetur sed tempor.</p>
              </div>
            </div>
          </div>
          <!--Feature end-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--Welcome Khonike - Real Estate Bootstrap 5 Templatesection end-->
<!--Download apps section start-->
<div class="download-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50" style="background-image: url(https://htmldemo.net/khonike/khonike/assets/images/bg/download-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!--Download Content start-->
        <div class="download-content">
          <h1>Download <span>Home</span> App <br>And Get Notification For New Properties
          <div class="buttons">
            <a href="#">
            <i class="fa fa-apple"></i>
            <span class="text">
            <span>Available on the</span>
            Apple Store
            </span>
            </a>
            <a href="#">
            <i class="fa fa-android"></i>
            <span class="text">
            <span>Get it on</span>
            Google Play
            </span>
            </a>
            <a href="#">
            <i class="fa fa-windows"></i>
            <span class="text">
            <span>Download form</span>
            Windows Store
            </span>
            </a>
            </h1>
          </div>
          <!-- <div class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/others/app.png" alt=""></div> -->
        </div>
        <!--Download Content end-->
      </div>
    </div>
  </div>
</div>
<!--Download apps section end-->
<!--Services section start-->
<div class="service-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
  <div class="container">
    <!--Section Title start-->
    <div class="row">
      <div class="col-md-12 mb-60 mb-xs-30">
        <div class="section-title center">
          <h1>Our Services</h1>
        </div>
      </div>
    </div>
    <!--Section Title end-->
    <div class="row row-30 align-items-center">
      <div class="col-lg-5 col-12 mb-30">
        <div class="property-slider-2">
          <div class="property-2">
            <div class="property-inner">
              <a href="single-properties.html" class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/property-13.jpg" alt=""></a>
              <div class="content">
                <h4 class="title"><a href="single-properties.html">Friuli-Venezia Giulia</a></h4>
                <span class="location">568 E 1st Ave, Miami</span>
                <h4 class="type">Rent <span>$550 <span>Month</span></span></h4>
                <ul>
                  <li>6 Bed</li>
                  <li>4 Bath</li>
                  <li>3 Garage</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="property-2">
            <div class="property-inner">
              <a href="single-properties.html" class="image"><img src="https://htmldemo.net/khonike/khonike/assets/images/property/property-14.jpg" alt=""></a>
              <div class="content">
                <h4 class="title"><a href="single-properties.html">Marvel de Villa</a></h4>
                <span class="location">450 E 1st Ave, New Jersey</span>
                <h4 class="type">Rent <span>$550 <span>Month</span></span></h4>
                <ul>
                  <li>6 Bed</li>
                  <li>4 Bath</li>
                  <li>3 Garage</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-12">
        <div class="row row-20">
          <!--Service start-->
          <div class="col-md-6 col-12 mb-30">
            <div class="service">
              <div class="service-inner">
                <div class="head">
                  <div class="icon"><img src="https://htmldemo.net/khonike/khonike/assets/images/service/service-1.png" alt=""></div>
                  <h4>Buy Property</h4>
                </div>
                <div class="content">
                  <p>Khonike - Real Estate Bootstrap 5 Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Service end-->
          <!--Service start-->
          <div class="col-md-6 col-12 mb-30">
            <div class="service">
              <div class="service-inner">
                <div class="head">
                  <div class="icon"><img src="https://htmldemo.net/khonike/khonike/assets/images/service/service-2.png" alt=""></div>
                  <h4>Sale Property</h4>
                </div>
                <div class="content">
                  <p>Khonike - Real Estate Bootstrap 5 Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Service end-->
          <!--Service start-->
          <div class="col-md-6 col-12 mb-30">
            <div class="service">
              <div class="service-inner">
                <div class="head">
                  <div class="icon"><img src="https://htmldemo.net/khonike/khonike/assets/images/service/service-3.png" alt=""></div>
                  <h4>Rent Property</h4>
                </div>
                <div class="content">
                  <p>Khonike - Real Estate Bootstrap 5 Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Service end-->
          <!--Service start-->
          <div class="col-md-6 col-12 mb-30">
            <div class="service">
              <div class="service-inner">
                <div class="head">
                  <div class="icon"><img src="https://htmldemo.net/khonike/khonike/assets/images/service/service-4.png" alt=""></div>
                  <h4>Mortgage Property</h4>
                </div>
                <div class="content">
                  <p>Khonike - Real Estate Bootstrap 5 Template best theme for elit, seddo eiumod tempor dolor sit.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Service end-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--Services section end-->
<!--Feature property section start-->
<!--Feature property section end-->
<!--CTA Section start-->
<div class="cta-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50" style="background-image: url(https://htmldemo.net/khonike/khonike/assets/images/bg/cta-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col">
        <!--CTA start-->
        <div class="cta-content text-center">
          <h1>Want to <span>Buy</span> New Property or <span>Sell</span> One <br> Do it in Seconds With <span>Khonike</span></h1>
          <div class="buttons">
            <% if current_user.role == "agent"%>
            <a href="/properties/new">Add Property</a>
            <a href="/view_all_property">Browse Properties</a>
            <% else %>
            <a href="/view_all_property">Browse Properties</a>
            <% end %>
          </div>
        </div>
        <!--CTA end-->
      </div>
    </div>
  </div>
</div>
<!--CTA Section end-->
<!--Agent Section start-->
<div class="agent-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
  <div class="container">
    <!--Section Title start-->
    <div class="row">
      <div class="col-md-12 mb-60 mb-xs-30">
        <div class="section-title center">
          <h1>Our Agents</h1>
        </div>
      </div>
    </div>
    <!--Section Title end-->
    <div class="row">
      <div class="agent-carousel section slider-space-30">
        <!--Agent satrt-->
        <% @agents.each do |agent| %>
        <div class="col">
          <div class="agent">
            <div class="image">
              <% if agent.profile.profile_image.attached? %>
                <a class="img" href="/agent/<%= agent.id%>"><%= image_tag agent&.profile&.profile_image %></a>
                <%end%>
              <div class="social">
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
            <div class="content">
              <h4 class="title"><a href="/agent/<%= agent.id%>"><%= agent.profile.name%></a></h4>
              <span class="phone"><%= agent.profile.mobile_number%></span >
              <span class="email"><%= agent.profile.email%></span>
              <span class="properties"><%= agent.properties.count%> Properties</span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--Agent Section end-->
<!--News Section start-->
<div class="news-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
  <div class="container">
    <!--Section Title start-->
    <div class="row">
      <div class="col-md-12 mb-60 mb-xs-30">
        <div class="section-title center">
          <h1>Customers Need</h1>
        </div>
      </div>
    </div>
    <!--Section Title end-->
    <div class="row">
      <div class="news-carousel section slider-space-30">
        <!--News start-->
        <% @posts.each do |post|%>
        <div class="col">
          <div class="news">
            <div class="image">
              <a href="posts/<%= post.id%>"><img src="https://www.dialabank.com/wp-content/uploads/2019/11/Home-Loan-4.jpg" alt=""></a>
              <div class="meta-wrap">
                <ul class="meta">
                  <li>By <a href="#"><%= find_user_name(post.user_id)%></a></li>
                  <li><%= convert_time(post.created_at)%></li>
                </ul>
                <ul class="meta back">
                  <li>By <a href="agent/<%= post.user_id%>"><%= find_user_name(post.user_id)%></a></li>
                  <li><%= convert_time(post.created_at) %></li>
                </ul>
              </div>
            </div>
            <div class="content">
              <h4 class="title"><a href="agent/<%= post.user_id%>"><%= post.name.capitalize %></a></h4>
              <div class="desc">
                <p><%= post.details %></p>
              </div>
              <a href="agent/<%= post.user_id%>" class="readmore">Contect</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--News Section end-->
<!--Brand section start-->
<div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
  <div class="container">
    <!--Section Title start-->
    <div class="row">
      <div class="col-md-12 mb-60 mb-xs-30">
        <div class="section-title center">
          <h1>Our Partners</h1>
        </div>
      </div>
    </div>
    <!--Section Title end-->
    <div class="row">
      <!--Brand Slider start-->
      <div class="brand-carousel section slider-space-30">
        <div class="brand col"><img src="https://htmldemo.net/khonike/khonike/assets/images/brands/brand-1.png" alt=""></div>
        <div class="brand col"><img src="https://htmldemo.net/khonike/khonike/assets/images/brands/brand-2.png" alt=""></div>
        <div class="brand col"><img src="https://htmldemo.net/khonike/khonike/assets/images/brands/brand-3.png" alt=""></div>
        <div class="brand col"><img src="https://htmldemo.net/khonike/khonike/assets/images/brands/brand-4.png" alt=""></div>
        <div class="brand col"><img src="https://htmldemo.net/khonike/khonike/assets/images/brands/brand-5.png" alt=""></div>
        <div class="brand col"><img src="https://htmldemo.net/khonike/khonike/assets/images/brands/brand-6.png" alt=""></div>
      </div>
      <!--Brand Slider end-->
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
        $('#customRange3').on('input', function(){
             v = $('#customRange3').val();
             console.log(v);
             $('div.price').text(v);
        });
    });
</script>