<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0">Properties</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
					  <thead class="">
					  	<th>ID</th>
					    <th>Name</th>
							<th>amenities</th>
							<th>size</th>
							<th>price</th>
							<th>Description</th>
							<th>location</th>
							<th colspan="3">Action</th>             
					  </thead>
					  <tbody>
					    <% @properties.each do |prop| %>
								<tr>
									<td><%= prop.id %></td>
									<td><%= prop.name %></td>
									<td><%= prop.amenities %></td>
									<td><%= prop.size %></td>
									<td><%= prop.price %></td>
									<td><%= prop.description %></td>
									<td><%= prop.location%></td>
									<td><%= link_to "show", admin_property_path(prop), class: "btn btn-info" %></td>
									<td><%= link_to "Edit", edit_admin_property_path(prop), class: "btn btn-warning" %></td>			
						      <td><%= button_to 'Destroy', admin_property_path(prop), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
								</tr>
							<% end %>
					  </tbody>
					</table>
        </div>
      </div>
    </div>
  </div>
</div>
