<h1>Welcome</h1>
<table>
	<tr>
		<th>Name</th>
		<th>amenities</th>
		<th>size</th>
		<th>price</th>
		<th>Description</th>
		<th>location</th>
	</tr>
	<tbody>
		<% @property.each do |prop| %>
		<tr>
			<td><%= prop.name%></td>
			<td><%= prop.amenities%></td>
			<td><%= prop.size%></td>
			<td><%= prop.price%></td>
			<td><%= prop.description%></td>
			<td><%= prop.location%></td>
			<td><%= link_to "show", admin_property_path(prop), class: "btn btn-outline-primary" %></td>
			<td><%= link_to "Edit", edit_admin_property_path(prop), class: "btn btn-outline-success" %></td>
			<td><%= link_to "Destroy", admin_property_path(prop), data: {turbo_method: :delete,
        turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "new", new_admin_property_path %>